.weather {
  max-width: 450px;
  width: 90%;
  margin: 20px auto;
  place-self: center;
  padding: 40px;
  border-radius: 10px;
  background-image: linear-gradient(45deg, #2f4680, #500ae4);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
}

.search-bar input {
  flex-grow: 1;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 40px;
  padding-left: 25px;
  color: #626262;
  background-color: #ebfffc;
  font-size: 18px;
}

.search-bar img {
  width: 50px;
  padding: 15px;
  border-radius: 50%;
  background-color: #ebfffc;
  cursor: pointer;
  flex-shrink: 0;
}

.weather-icon {
  width: 150px;
  margin: 30px 0;
}

.temperature {
  color: #fff;
  font-size: 80px;
  line-height: 1;
}

.location {
  color: #fff;
  font-size: 40px;
  text-align: center;
}

.weather-data {
  width: 100%;
  margin-top: 40px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.weather-data .col {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  font-size: 22px;
  flex: 1;
  min-width: 150px;
}

.weather-data .col span {
  display: block;
  font-size: 15px;
}

.weather-data .col img {
  width: 26px;
  margin-top: 10px;
}

@media (max-width: 480px) {
  .weather {
    padding: 25px;
    width: 95%;
  }

  .search-bar input {
    height: 40px;
    padding-left: 20px;
    font-size: 16px;
  }

  .search-bar img {
    width: 40px;
    padding: 12px;
  }

  .weather-icon {
    width: 100px;
    margin: 20px 0;
  }

  .temperature {
    font-size: 60px;
  }

  .location {
    font-size: 30px;

    .weather-data {
      margin-top: 30px;
      justify-content: space-around;
      gap: 20px 0;
    }

    .weather-data .col {
      font-size: 20px;
      flex: 0 0 45%;
    }

    .weather-data .col img {
      width: 22px;
    }
  }
}
